.app__highlighted-reports-container {
    width: 100%;
    height: 100%;
    background-color: var(--lightgray-color);
    display: flex;
    flex-direction: column;
    position: relative;

    .app__highlighted-reports-cross {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            position: absolute;
            top: 1rem;
            right: 5rem;
            width: 130px;
            height: 130px;
        }
    }

    .app__highlighted-reports-title {
        width: 80%;
        margin: auto;

        h2 {
            font-size: 2rem;
            color: var(--blue-color);
            font-family: var(--font-base);
            margin-top: 1rem;
            text-align: left;
            opacity: 0;

            span {
                display: block;
                margin-top: -10px;
                color: var(--purple-color);

                @media screen and (min-width: 1024px) {
                    margin-top: -20px;
                }
            }

            @media screen and (min-width: 1024px) {
                font-size: 4rem;
            }
        }
    }

    .app__slider-container-reports {
        width: 80%;
        margin: auto;

        .app__highlighted-reports-slider {
            width: 100%;
            display: grid;
            grid-template-columns: 100%;
            padding-top: 30px;

            @media screen and (min-width: 1024px) {
                grid-template-columns: 39% 61%;
            }

            .app__highlighted-reports-slider-frame {
                display: flex;
                align-items: flex-start;
                padding-left: 5px;
            }

            .app__highlighted-reports-slider-paragraphs {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 40px;
                opacity: 0;

                @media screen and (min-width: 1024px) {
                    padding-top: 0;
                }

                h3 {
                    color: var(--purple-color);
                    text-align: left;
                    font-family: var(--font-base);
                    font-size: 1.2rem;
                    font-weight: 600;
                    padding-bottom: 20px;

                    @media screen and (min-width: 1024px) {
                        font-size: 2rem;
                    }
                }

                p {
                    text-align: left;
                    font-family: var(--font-base);
                    margin-bottom: 15px;
                    font-size: .8rem;
                    color: var(--gray-color);

                    @media screen and (min-width: 1024px) {
                        font-size: 1rem;
                    }
                }

                .button-more-reports {
                    width: fit-content;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;

                    img:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}